body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  min-height: 100vh;
}
main {
  flex: 1;
}

/* header {
  background-color: darkgray;
  padding: 1rem;
}

header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
} */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: gold;
}

.product {
  border: 1px solid #404040;
  /* border-radius: 10px; */
  margin: 1rem;
  padding: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}
.sm-container {
  max-width: 650px;
}

.checkout-steps > div {
  border-bottom: solid 0.2rem #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #0e63d3;
  color: #0e63d3;
}

.site-container {
  transition: 0.4s;
}
.navbar-brand {
  font-weight: bold;
}
.sidebar-nav {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}
.active-container {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
